body {
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
}
.bubble {
    position: absolute;
    border-radius: 300px;
    background: orange;
    opacity: 0;
    animation: anim 8s forwards;   
    filter: hue-rotate(0deg);
}

/*Création de la keyframes pour l'animation des bulles qui montes*/
@keyframes anim  {
    to {
        top: -250px;
        opacity: 1;
        filter: hue-rotate(720deg);
        /*On prépare le mouvement randomisé vers la gauche, nousl'injectons par le biais du js*/
        left: var(--left);
    }
}

h3 {
    font-size: 10rem;
    text-align: center;
    margin-top: 20px;
    color: rgb(89, 89, 89);
}